* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header css */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  position: relative;
}
.header nav {
  position: fixed;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  width: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.svgCont > svg {
  width: 180px;
}
.signup {
  width: 660px;
  margin: auto;
  height: 550px;
  margin-top: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.formCont {
  display: flex;
  align-items: center;
}
.signup .formCont {
  border-bottom: 1px solid rgba(201, 197, 197, 0.664);
  border-top: 1px solid rgba(201, 197, 197, 0.664);
  height: 58%;
}
.formCont form {
  width: 70%;
  margin: auto;
}

.signup form button[class="next"] {
  width: 100px;
  height: 40px;
  margin: auto;
  background-color: rgb(2, 169, 92);
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 38%;
  cursor: pointer;
  transition: 0.5s;
}
.signup form button[class="next"]:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.fNameLNameCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fNameLNameCont input {
  width: 48%;
  margin: 0;
}
.signupFooter,
.signupHeader {
  width: 100%;
  height: 21%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.signupFooter {
  font-size: 14px;
}
.signupFooter p {
  width: 95%;
}
.signupHeader h1 {
  font-size: 35px;
  color: rgb(51, 51, 51);
}
.first {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #3c579c;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
  margin-top: 20px;
  margin: auto;
  text-align: center;
  outline: none;
  border: none;
}
.first div {
  color: white;
  padding: 5px;
}
.align h3 {
  margin-top: 5px;
}
.or {
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}
.or .one,
.or .three {
  background-color: grey;
  height: 1px;
  margin-top: 10px;
}
.or .two {
  text-align: center;
}
.email {
  width: 150%;
  margin-left: 95px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.gobutton {
  margin-left: 95px;
  padding: 13px;
  font-size: 18px;
  width: 280px;
  border: 1px solid #28af74;
  background: white;
  color: #28af74;
  font-weight: 700;
}
.signinFooter {
  text-align: center;
  margin-top: 50px;
}
.signinFooter p {
  color: #28af74;
}
