.svgLogo > svg {
  width: 50%;
  height: 8vh;
  margin: 10px;
  text-align: center;
}
.footerTop {
  margin-top: 3vh;
  border: none;
  height: 1px;
  background: lightgrey;
}
.select {
  padding: 10px;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  width: 100%;
}
.select > option {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.outterContainer {
  width: 75%;
  margin: 5vh auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
}
.innerContainer2 {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.innerContainer2 div ul li {
  padding: 8px;
  list-style: none;
}
.innerContainer2 div ul li button {
  background: white;
  outline: none;
  border: none;
}
.innerContainer2 div h4 {
  color: #02a85b;
  margin-left: 5px;
}
.hiddendivoutter {
  width: 60%;
  margin-left: 31%;
  margin-top: 65px;
  margin-bottom: 65px;
}
.hiddendivoutter > h4 {
  margin-top: 30px;
}

.hiddendivoutter hr {
  margin-bottom: 3vh;

  border: none;
  height: 1px;
  background: lightgrey;
}

.hiddendivinner {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.hiddendivinner div p {
  padding: 8px;
}
.hiddendivoutter h4 {
  color: #02a85b;
  margin-left: 5px;
}
.divider {
  margin-top: 65px;
  margin-bottom: 65px;
  border: none;
  height: 1px;
  background: lightgrey;
}

.footerend {
  display: flex;
  margin-bottom: 65px;
}
.footerendright {
  margin-left: 35%;
}
.footerendleft {
  margin-left: 1%;
  margin-right: 1%;
}
.footerendright span,
.footerendleft span {
  margin-left: 20px;
  color: grey;
}
.footerendright span img {
  width: 20px;
  height: 15px;
}
