.firstNa {
  width: 100%;
  min-height: 600px;
  background-color: #fbf8f6;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
.firstNa > .donateNa {
  margin-top: 100px;
  width: 50%;
  min-height: 500px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px black;
}

.firstNa > .donateNa > .head {
  height: 40px;
  width: 100%;
  background-color: #00b964;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  color: white;
}
.firstNa > .donateNa > .head > span {
  background-color: #81c081;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
}
.firstNa > .donateNa > .head > span > .href {
  text-decoration: none;
  color: white;
}

.firstNa > .donateNa > .currency {
  outline: none;
  height: 100%;
  width: 50px;
  border-radius: 2px;
}

.firstNa > .donateNa > .content {
  margin-top: 20px;
  text-align: center;
}
.firstNa > .donateNa > .content > .btn,
.input {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.firstNa > .donateNa > .content > .btn > button {
  padding: 10px;
  width: 100px;
  border-radius: 19px;
  box-shadow: 1px 1px 5px 1px gray;
  font-weight: 700;
  border: none;
  color: white;
  font-weight: 900;
  height: 50px;
}
.firstNa > .donateNa > .content > .btn > button:hover {
  background-color: #95bf90;
}

.firstNa > .donateNa > .content > .input > input {
  margin-top: 30px;
  width: 60%;
  margin: auto;
  height: 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  outline: none;
  box-shadow: 1px 1px 5px 1px gray;
  border: none;
  padding: 10px;
  font-weight: 800;
}

.firstNa > .donateNa > .content > .formsm {
  width: 70%;
  margin: auto;
}
.firstNa > .donateNa > .content > .formsm > form > .details {
  display: flex;
  border-bottom: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
}
.firstNa > .donateNa > .content > .formsm > form > .details > .typo {
  width: 95%;
}
.firstNa > .donateNa > .content > .formsm > form > .details > .typo > input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

.firstNa
  > .donateNa
  > .content
  > .formsm
  > form
  > .details
  > .typo
  > input:focus,
.details:focus {
  border-bottom: 2px solid green;
}

.firstNa > .donateNa > .content > .formsm > form > .details > .typo2 {
  width: 5%;
}

.firstNa > .donateNa > .content > .formsm > form > .details2 > .aaaa {
  flex-direction: row;
  margin-bottom: 40px;
}
.firstNa
  > .donateNa
  > .content
  > .formsm
  > form
  > .details2
  > .aaaa
  > .radioLabel {
  border: 1px solid gray;
  padding: 5px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 45px;
  width: 170px;
}

.firstNa
  > .donateNa
  > .content
  > .formsm
  > form
  > .details2
  > .bbt
  > .StripeCheckout {
  background: #008000 !important;
  border: none;
}
.firstNa
  > .donateNa
  > .content
  > .formsm
  > form
  > .details2
  > .bbt
  > .StripeCheckout
  > span {
  display: none !important;
}

.firstNa
  > .donateNa
  > .content
  > .formsm
  > form
  > .details2
  > .bbt
  > .StripeCheckout:after {
  content: "Pay";
}

.firstNa > .donateNa > .content > .formsm > form > .details2 > .bbt > button {
  width: 70%;
  margin: auto;
  color: white;
  height: 70px;
  margin-bottom: 20px;
  font-size: 20px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
}
